@import url(https://fonts.googleapis.com/css?family=Oswald);

:root{
    --backgraund: #000;
    --text:#fff;
    --highlight:#ff1ead;
}
body{
    background: var(--backgraund);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    transition: 0.5 backgraund ease;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.theme-swith{
    --backgraund:#fff;
    --text:#000;
    color: var(--text);
    width: 70px;
    height: 30px;
    background: var(--highlight);
    border-radius: 50px;
    position: relative;
}

.theme-swith .switch{
    background: white;
    width: 24px;
    height: 24px;
    background: var(--backgraund);
    border-radius: 100%;
    position: absolute;
    top: 3px;
    left: 4px;
    transition: 0.5 all ease;
}

.light-theme{
    --backgraund:
} 
